// colors
$white: #fff;
$black: #000;
$grey: #444444;

$default: $grey;

// spacing
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
) !default;

$displays: none, inline, inline-block, block, table, table-row, table-cell, flex, inline-flex !default;

$spacer: 1rem !default;
$spacers: () !default;
$spacers: map-merge(
  (
    0: 0,
    1: $spacer * .25,
    2: $spacer * .5,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 3,
  ),
  $spacers
);

$negative-spacers: negativify-map($spacers) !default;